.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

#front {
  background: url("../../assets/img/homepage_image.jpg");
}

.icon.ion-ios-locked-outline {
  color: rgb(82, 5, 123);
}

// ----- Personal preference ----- *, *:before, *:after box-sizing: border-box; -webkit-font-smoothing: antialiased; // ----- Variable Declarations ----- @keyframes spin from transform:rotate(0deg); to transform:rotate(360deg); $color: #4FB6EC; // ----- Styles ----- body background-color: rgba(#222, 0.1); font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; line-height: 1.5em; .table display: table; width: 100%; height: 100vh; .table-cell display: table-cell; vertical-align: middle; #playbar visibility: hidden; height: 0; width: 0; #player margin: 0 auto; position: relative; width: 400px; height: 400px; #main width: 400px; height: 400px; overflow: hidden; border-radius: 5px; user-select: none; box-shadow: 0 10px 60px rgba(black, 0.6); background-image: url('https://d13yacurqjgara.cloudfront.net/users/358029/screenshots/2147223/perigee-album-art-v2-dribbble.gif'); background-size: cover; background-position: center center; background-repeat: no-repeat; z-index: 2; position: relative; transition: transform 0.4s ease-in-out; &.show #main transform: translateX(-200px); &.show ol transform: translateX(200px); box-shadow: 1px 2px 10px rgba(black, 0.3); transition: transform 0.4s ease-in-out, 0s box-shadow 0.05s; .playback_controls opacity: 0; color: rgba(black, 0.55); font-size: 22px; transform: translateY(10px); transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; //height: 100px; padding: 20px; width: 100%; position: absolute; left: 0; bottom: 0; background: rgba(#fff, 0.95); z-index: 1; .buttons text-align: center; padding-left: 15px; i display: inline-block; padding: 0 15px; width: 48px; text-align: center; cursor: pointer; &#playpause.loading opacity: 0.4; position: relative; &:after position: absolute; content: ''; display: block; width: 50px; height: 50px; top: 50%; margin-top: -25px; margin-left: -28px; left: 50%; border: 3px solid #ddd; border-radius: 100%; border-right: 3px solid $color; animation-duration: 0.5s; animation-name: spin; animation-iteration-count:infinite; animation-timing-function: linear; .menu float: right; cursor: pointer; opacity: 0.2; transition: opacity 0.2s; &:hover opacity: 0.6; #main:hover .playback_controls, .show #main .playback_controls opacity: 1; transform: translateY(0px); h2 font-weight: 300; font-size: 16px; text-align: center; margin: 0 0 10px 0; h3 font-weight: 700; font-size: 12px; text-align: center; margin: 0; .time-holder padding: 0 40px; padding-bottom: 10px; .slider width: 100%; height: 50px; position: relative; &:before position: absolute; top: 50%; margin-top: -2px; left: 0; content: ''; display: block; width: 100%; height: 3px; background-color: rgba(#222, 0.075); .fill position: absolute; top: 50%; width: 100%; transform-origin: 0% 0%; transform: scaleX(0); margin-top: -2px; left: 0; content: ''; display: block; height: 3px; background-color: $color; transition: transform 1s; a color: rgba(0, 0, 0, 0.55); text-decoration: none; .time font-size: 12px; font-weight: bold; opacity: 0.3; float: right; ol#playlist list-style-type: none; margin-left: 0; width: 400px; padding-left: 0; position: absolute; height: 300px; background-color: #fff; margin: 0; font-size: 16px; top: 50px; overflow-y: auto; transition: transform 0.4s ease-in-out, 0s box-shadow 0.3s; border-radius: 0 5px 5px 0; a display: inline-block; width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ol#playlist > li counter-increment: customlistcounter; padding: 12px 15px; height: 50px; position: relative; &:after position: absolute; width: 300px; left: 9.5%; content: ''; display: block; bottom: 0; border-bottom: 1px solid rgba(#222, 0.1); &:last-child:after border-color: transparent; &:hover background-color: rgba(#222, 0.02); &.playing background-color: rgba($color, 0.15); &:after border-color: transparent; &:hover background-color: rgba($color, 0.2); ol#playlist > li:before content: counter(customlistcounter) " "; float: left; text-align: right; width: 1em; margin-right: 1em; font-size: 12px; font-weight: bold; opacity: 0.3; vertical-align: baseline; display: inline-block; ol#playlist li:first-child counter-reset: customlistcounter; // ----- Mobile styles ----- @media only screen and (max-device-width: 736px) {
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  display: table;
  width: 100%;
  height: 50vh;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

#playbar {
  visibility: hidden;
  height: 0;
  width: 0;
}

#player {
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  user-select: none;
  box-shadow: 0 10px 60px rgba(black, 0.6);
  background-image: url('https://d13yacurqjgara.cloudfront.net/users/358029/screenshots/2147223/perigee-album-art-v2-dribbble.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  transition: transform 0.4s ease-in-out;
  box-shadow: 1px 2px 10px rgba(black, 0.3);
  transition: transform 0.4s ease-in-out, 0s box-shadow 0.05s;
  color: rgba(black, 0.55);
  font-size: 22px;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  //height: 100px;
  padding: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(#fff, 0.95);
  z-index: 1;
  padding-left: 15px;
  padding: 0 15px;
  width: 48px;
  text-align: center;
  cursor: pointer;
  position: relative;
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  margin-left: -28px;
  left: 50%;
  border: 3px solid #ddd;
  border-radius: 100%;
  border-right: 3px solid $color;
  animation-duration: 0.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.2s;
}

#main:hover .playback_controls, .show #main .playback_controls {
  opacity: 1;
  transform: translateY(0px);
}

h2 {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin: 0 0 10px 0;
}

h3 {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin: 0;
}

.time-holder {
  padding: 0 40px;
  padding-bottom: 10px;
  height: 50px;
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgba(#222, 0.075);
  top: 50%;
  width: 100%;
  transform-origin: 0% 0%;
  transform: scaleX(0);
  margin-top: -2px;
  left: 0;
  content: '';
  display: block;
  height: 3px;
  background-color: $color;
  transition: transform 1s;
}

a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

.time {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.3;
  float: right;
}

ol#playlist {
  list-style-type: none;
  margin-left: 0;
  width: 400px;
  padding-left: 0;
  position: absolute;
  height: 300px;
  background-color: #fff;
  margin: 0;
  font-size: 16px;
  top: 50px;
  overflow-y: auto;
  transition: transform 0.4s ease-in-out, 0s box-shadow 0.3s;
  border-radius: 0 5px 5px 0;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ol#playlist > li {
  counter-increment: customlistcounter;
  padding: 12px 15px;
  height: 50px;
  position: relative;
  width: 300px;
  left: 9.5%;
  content: '';
  display: block;
  bottom: 0;
  border-bottom: 1px solid rgba(#222, 0.1);
}

ol#playlist > li:before {
  content: counter(customlistcounter) " ";
  float: left;
  text-align: right;
  width: 1em;
  margin-right: 1em;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.3;
  vertical-align: baseline;
  display: inline-block;
}

ol#playlist li:first-child {
  counter-reset: customlistcounter;
}

@media only screen and (max-device-width: 736px) {
}

#songs {
  background-color: purple;
  height: 400px;
  width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

#centered {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#message {
  border-radius: 15px;
  height: 400px;
  width: 300px;
  margin-right: 50px;
}

tr {
  border-bottom: 1px solid white;
}

td {
  padding-left: 5px;
}

#details {
  display: flex;
  flex-direction: row;
}

p {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
}

