{% extends "base.html" %}
{% block title %}Emotion Recognition{% endblock %}
{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='emotion/assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='emotion/assets/css/Footer-Basic.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='emotion/assets/css/Login-Form-Dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='emotion/assets/css/Registration-Form-with-Photo.css')}}">
{% endblock %}

{% block content %}
    <main style="width: 100%;height: 20%;">
        <section class="register-photo" style="background: repeating-linear-gradient(rgb(137, 44, 220) 0%, rgb(0,0,0) 54%, rgb(137, 44, 220) 100%), rgb(0, 0, 0);height: 80vh;">
            <div class="form-container">
                <div class="image-holder" style="background:url({{url_for('emotion')}});">
                </div>
                <form method="post" style="background: var(--bs-purple);" action="{{url_for('songs')}}">
                    <h2 class="text-center" style="color: rgb(255,255,255);">To use the application, place your face in front of the camera. Once you are ready, press the button below to get your emotion transposed to the best songs for you!</h2>
                    <div class="mb-3"></div>
                    <div class="mb-3"></div>
                    <div class="mb-3"></div>
                    <div class="mb-3"></div>
                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="border-color: rgb(82, 5, 123);border-top-color: rgb(82,;border-right-color: 5,;border-bottom-color: 123);border-left-color: 5,;border-radius: 10px;background: rgb(82, 5, 123);">Songify your emotion!</button></div>
                </form>
            </div>
        </section>
    </main>

    <script src="{{url_for('static', filename='emotion/assets/bootstrap/js/bootstrap.min.js')}}"></script>
{% endblock %}